<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
</head>
<body>
<h1>sc3460ze_uni</h1>
<p>{'StudentID': 1, 'First_Name': 'Mary', 'Middle_Name': '', 'Last_Name': 'Cook', 'Address': '4006 16th AVE NW Rochester MN 55901', 'Phone_Number': '507-282-7287', 'Email_Address': 'mcook@yahoo.com', 'Major': 2, 'Advisor': 1}
{'StudentID': 2, 'First_Name': 'Julie', 'Middle_Name': '', 'Last_Name': 'Squires', 'Address': '4617 7th ST NW Rochester MN 55901', 'Phone_Number': '507-282-9372', 'Email_Address': 'jsquires@gmail.com', 'Major': 1, 'Advisor': 3}
{'StudentID': 3, 'First_Name': 'Ashley', 'Middle_Name': 'Marie', 'Last_Name': 'Miller', 'Address': '145 Elm ST Byron MN 55920', 'Phone_Number': '507-775-9841', 'Email_Address': 'ammiller@gmail.com', 'Major': 3, 'Advisor': 4}
{'StudentID': 4, 'First_Name': 'Dayton', 'Middle_Name': 'Paul', 'Last_Name': 'Brown', 'Address': '8854 County RD 4 Rochester MN 55904', 'Phone_Number': '507-284-6597', 'Email_Address': 'Daytona500@gmail.com', 'Major': 1, 'Advisor': 3}</p>

</body>
</html>
